@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional styles */
@layer utilities {
  @import 'additional-styles/utility-patterns.css';
  @import 'additional-styles/range-slider.css';
  @import 'additional-styles/toggle-switch.css';
  @import 'additional-styles/flatpickr.css';
  @import 'additional-styles/theme.css';
}

/* Global css belong here. Look up global tailwind later */
.body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(243 244 246);
}